@import url(https//fonts.googleapis.com/earlyaccess/jejugothic.css);

.navar-brand, h1 h2 h3 h4 {
	font-family: 'Jeju Gothic';
}h5 {
	fint-family: 'Jeju Gothic';
	fint-size: 18px
} body {
	fint-family: 'Jeju Gothic';
}